* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  font-family: Inter, sans-serif;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  background: var(--background);

  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.flex {
  display: flex;
}

#app {
  display: grid;
  justify-content: center;
  gap: 3.2rem;

  width: 90%;
  max-width: 42rem;
  margin: 0 auto;

  padding: 2.8rem 6rem 4rem;
  background: var(--app-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.6rem;
}

#app header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#copyright {
  font-size: 11px;
  font-weight: 700;
  margin-top: 2.25rem;
  color: var(--text-color);
}

#copyright a{
  color: hsl(228, 45%, 44%);
}
